<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="planit" parallel="classes">
	<test name=" Validate_errors_are_gone ">
		<classes>
			<class name="automation.testcases.Validate_errors_are_gone" />
			<class name="automation.testcases.Validate_errors_invalid_data" />
			<class name="automation.testcases.Validate_Successful_Message" />
			<class name="automation.testcases.Verify_itemsincart" />
		</classes>
	</test>

	
</suite>
